.bg_blue{
  background: url('../../assets/net/title_bg.png') no-repeat center center/100%;
  leading-trim: both;
  text-edge: cap alphabetic;
}
.bg_White{
  background: url('../../assets/net/title_bg_white.png') no-repeat center center/100%;
  leading-trim: both;
  text-edge: cap alphabetic;
}