.available-stake-slider-input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  border-top: 2px solid #5a5a5a;
  border-right: 4px solid #5a5a5a;
  border-bottom: 2px solid #5a5a5a;
  border-left: 4px solid #5a5a5a;
  &::-webkit-slider-runnable-track {
    height: 15px;
    background: #373737;
  }
  &::-moz-range-track {
    height: 15px;
    background: #373737;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 38px;
    width: 31px;
    transform: translateY(-12px);
    background: url('../../../../../assets//icons/stake-slider-thumb.svg');
  }
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 38px;
    width: 31px;
    transform: translateY(-12px);
    background: url('../../../../../assets//icons/stake-slider-thumb.svg');
  }
}
