@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'psm';
  src: url('./assets/fonts/psm/PPSupplyMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'pss';
  src: url('./assets/fonts/pss/PPSupplySans-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'smb';
  src: url('./assets/fonts/smb/super-mario-bros-the-lost-levels-font.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sdm';
  src: url('./assets/fonts/sdm/Square-Dot-Matrix.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ppnb';
  src: url('./assets/fonts/ppnb/PPNeueBit-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ppnr';
  src: url('./assets/fonts/ppnr/PPNeueBit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ibmr';
  src: url('./assets/fonts/ibmr/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ibmb';
  src: url('./assets/fonts/ibmb/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  overflow: overlay;
  margin: 0;
  font-family:
    'psm',
    'pss',
    'smb',
    'sdm',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black !important;
  cursor:
    url('./assets/icons/cursor-default.svg') 8 0,
    default;
}

a {
  cursor:
    url('./assets/icons/cursor-pointer.svg') 8 0,
    pointer;
}

.no-scroll {
  overflow: hidden !important;
}

/* Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: rgba(255, 255, 255, 0.2);
}

.blue-border-dashed-animation {
  background:
    linear-gradient(90deg, #2563eb 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #2563eb 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #2563eb 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #2563eb 50%, transparent 0) repeat-y;
  background-size:
    4px 1px,
    4px 1px,
    1px 4px,
    1px 4px;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  animation: linearGradientMove 0.3s infinite linear;
}

@keyframes linearGradientMove {
  100% {
    background-position:
      4px 0,
      -4px 100%,
      0 -4px,
      100% 4px;
  }
}
