.apyText {
  -webkit-text-stroke: 12px #00221c;
  text-stroke: 12px #00221c;

  &::before {
    content: attr(data-stroke);
    position: absolute;
    -webkit-text-stroke: 0;
    background: linear-gradient(
      180deg,
      #86ffa8 11.11%,
      #86ffa8 30.28%,
      #0f2 30.63%,
      #0f2 60.85%,
      #00b221 61.48%,
      #00b221 74.07%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
